---
{"dg-publish":true,"permalink":"/blood-test-results/","dg-note-properties":{}}
---




| Category              | Test                       | Units         | Reference Range | 23 Aug 2026 | 16 Oct 2026 | Next Test |
| --------------------- | -------------------------- | ------------- | --------------- | ----------- | ----------- | --------- |
| Lipids                | Total Cholesterol          | mmol/L        | 3.5–5.5         | 3.9         | 4.6         |           |
| Lipids                | Triglycerides              | mmol/L        | <1.7            | 0.8         | 0.7         |           |
| Lipids                | HDL Cholesterol            | mmol/L        | >1.20           | 1.62        | 2.2         |           |
| Lipids                | LDL Cholesterol            | mmol/L        | <3.5            | 1.9         | 2.1         |           |
| Lipids                | Cholesterol / HDL Ratio    | Ratio         | <4.5            | 2.4         | 2.1         |           |
| Lipids                | Non-HDL Cholesterol        | mmol/L        | <3.9            | 2.3         | 2.4         |           |
| Kidney & Electrolytes | Sodium                     | mmol/L        | 135–145         | 141         | 139         |           |
| Kidney & Electrolytes | Potassium                  | mmol/L        | 3.5–5.5         | 4           | 4.6         |           |
| Kidney & Electrolytes | Chloride                   | mmol/L        | 95–110          | 105         | 104         |           |
| Kidney & Electrolytes | Bicarbonate                | mmol/L        | 20–32           | 24          | 23          |           |
| Kidney & Electrolytes | Urea                       | mmol/L        | 2.5–6.5         | 2.8         | 4.7         |           |
| Kidney & Electrolytes | Creatinine                 | µmol/L        | 45–85           | 65          | 77          |           |
| Kidney & Electrolytes | eGFR                       | mL/min/1.73m² | >59             | >90         | >90         |           |
| Liver & Proteins      | Bilirubin                  | µmol/L        | 3–15            | 13          | 16          |           |
| Liver & Proteins      | Alkaline Phosphatase (ALP) | U/L           | 35–110          | 69          | 85          |           |
| Liver & Proteins      | Gamma-GT (GGT)             | U/L           | 5–35            | 13          | 14          |           |
| Liver & Proteins      | ALT                        | U/L           | 5–30            | 14          | 35          |           |
| Liver & Proteins      | AST                        | U/L           | 10–35           | 16          | 39          |           |
| Liver & Proteins      | Total Protein              | g/L           | 64–81           | 61          | 67          |           |
| Liver & Proteins      | Albumin                    | g/L           | 33–46           | 37          | 38          |           |
| Liver & Proteins      | Globulin                   | g/L           | 23–41           | 24          | 29          |           |
| Full Blood Count      | Haemoglobin                | g/L           | 115–160         | 133         | 146         |           |
| Full Blood Count      | Haematocrit                | L/L           | 0.35–0.47       | 0.42        | 0.44        |           |
| Full Blood Count      | Red Cell Count             | ×10¹²/L       | 3.7–5.2         | 4.5         | 5           |           |
| Full Blood Count      | MCV                        | fL            | 80–100          | 93          | 90          |           |
| Full Blood Count      | MCH                        | pg            | 27–34           | 29          | 30          |           |
| Full Blood Count      | MCHC                       | g/L           | 310–360         | 317         | 329         |           |
| Full Blood Count      | RDW                        | %             | 11–17           | 13.3        | 13.2        |           |
| Full Blood Count      | Platelets                  | ×10⁹/L        | 150–450         | 201         | 253         |           |
| Full Blood Count      | White Cell Count           | ×10⁹/L        | 4.0–11.0        | 5.6         | 5.4         |           |
| Full Blood Count      | Neutrophils                | ×10⁹/L        | 2.0–7.5         | 3.5         | 3.1         |           |
| Full Blood Count      | Lymphocytes                | ×10⁹/L        | 1.0–4.0         | 1.6         | 1.9         |           |
| Full Blood Count      | Monocytes                  | ×10⁹/L        | 0–1.0           | 0.4         | 0.3         |           |
| Full Blood Count      | Eosinophils                | ×10⁹/L        | 0–0.5           | 0.2         | 0.1         |           |
| Full Blood Count      | Basophils                  | ×10⁹/L        | 0–0.3           | 0           | 0           |           |
| Pregnancy Test        | Beta hCG                   | IU/L          | <2              | <1          | <1          |           |
|                       |                            |               |                 |             |             |           |